body {
  margin: 0;
  }

  header {
    background: white;
    padding: 5px 15px 15px;
    margin-left: 10%;
  }
  
  header h1 {
    background: teal;
    color: white;
    margin: 20px 10px 20px 10px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display: inline;
  }
  nav ul {
    margin: 0;
    padding: 0 0 0 15px;
    display: inline;
  }

  nav ul li {
    background: black;
    color: grey;
    display: inline-block;
    list-style-type:none;
    padding: 5px 15px;
    float: right;
  }

  nav ul li a {
    color: white;
  }

  .row:before {
    clear:both;
  }
  .row:after {
    clear:both;
  }
  
  .col {
    background: #333;
    border-radius: 5px;
    color: white;
    padding: 10px .5%;
    float: left;
    margin: .5%;
    width: 30%;
  }
  footer {
    background: rgb(27, 2, 2);
    padding: 10px 20px;
  }
  .box { 
    width: 70%;
    padding: 10px;
    border: 2px solid gray;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .img {
    background-color: teal;
    width: 200px;
    padding: 25px;
    border: 5px solid black;
    float: left;
    color: white;
    height: 250px;
  }
  p {
    display: inline-block;
  }
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}